@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

body {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

.media-header{
   padding: 2rem 1rem 1rem;
    max-width: 1000px;
    margin: 0 auto;
    background-color:#f0f0f5;
}

.logo{
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.media-gallery {
    padding: 2rem 1rem 1rem;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f0f0f5;
}

.media-gallery-thumbnails {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    overflow-y: hidden;
}

.media-gallery-thumbnails__img {
    width: 60px;
    height: 60px;
    border: #f0f0f5 2px solid;
}

.media-gallery-main__img {
    width: 100%;
    border: #f0f0f5 2px solid;
}